<launch>
    <node pkg="aloam" type="ALOAMSubmapPublisher" name="aloam_submap_Publisher_client1" output="screen">
      <param name="RobotID" type="int" value="1" />
      <param name="NameSpace" type="string" value="robot_1" /> 
      <param name="SensorName" type="string" value="ouster" /> 
      <param name="dis_th" type="double" value="1.5" />
    </node>

</launch>
